@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

aside {
    width: 15%;
    margin: 0 0.5%;
    float: right;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
}
aside p {
    font-size: 0.8rem;
}

#author {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#author div {
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
}
#authorHeart {
    padding: 0 1%;
}

#author h3 {
    margin: 0 auto;
}