@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

h1, h2, h3, b {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: sans-serif;
}

#title i {
    margin: 0 1%;
}

body {
    font-size: 20px;
    background-color: #1f1f1f;
    color: #999;
}
main {
    width: 59%;
    margin: auto;
    font-family: sans-serif;
}
main img {
    width: 100%;
}

main iframe {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline-block;
}

#tunesTitle {
    font-weight: bold;
}

i {
    margin: 0 2%;
}

main table td, main table, main table th {
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 2%;
}

#sources {
    font-size: 0.7rem;
}

.caption {
    font-size: 0.8rem;
    font-family: 'Oswald', sans-serif;
}